@use "../responsive-design/mixins" as mixin;

.benefits-section__container {
    display: grid;
    position: relative;
    grid-template-columns: 1.7fr 1fr;
    padding: 10%;
    @include mixin.respond(tablet) {
        padding: 5%;
        padding-top: 10%;
        padding-bottom: 25%;
        grid-template-columns: 1.4fr 0.8fr;
    }
}
.VR-images--responsive {
    z-index: 1;
    width: 100%;
}
.benefits-section__text {
    z-index: 2;
    padding: 4rem;
    background-color: white;
    position: absolute;
    width: 500px;
    right: 15%;
    top: 50%;
    @include mixin.respond(tablet) {
        padding: 3rem;
        width: 400px;
        right: 5%;
        top: 35%;
    }
}
.heading-2__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: black;
    margin-bottom: .5rem;
}
.paragraph__h2-caption {
    color: rgba(0, 0, 0, 0.7);
}