.header-hero__container {
    background-image: url(/images/desktop/image-hero.jpg);
    background-position: center top;
    background-size: cover;
    background-clip: border-box;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.nav__container {
    display: flex;
    justify-content: space-between;
}
.header-image__loopstudios-icon {
    width: 100px;
    height: 16px;
}
.nav-list {
    display: flex;
    gap: 1rem;
}
.heading-1__main-title {
    font-size: 2rem;
    width: 300px;
    text-transform: uppercase;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.800);
    font-weight: 300;
}